<div>
  <h1>LoanPick Opens New Opportunities!!</h1>
</div>

<!--<h2><%#= link_to "Log in with Github", '/auth/github' %></h2>-->


<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="https://images.unsplash.com/photo-1594686900103-3c9698dbb31b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fHN0dWRlbnQlMjBncmFkdWF0aW9ufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Student" style="width:100%" >
        <div class="caption">
          <h3>Student Loan</h3>
          <p> Pursue Your Dreams to Success and Carrier of Your Choice</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="https://images.unsplash.com/photo-1602774895754-2772f8a08f6b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTQ1fHxob21lJTIwY29uc3RydWN0aW9ufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="HIL" style="width:100%">
        <div class="caption">
          <h3>Home Improvement Loan</h3>
          <p>Enable the Dream of "Home My Dream Home"</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="https://images.unsplash.com/photo-1578670812003-60745e2c2ea9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTJ8fG1vbmV5JTIwY2FyZHN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Consolidation" style="width:100%">
        <div class="caption">
          <h3>Consolidation Loan</h3>
          <p>Save Thousands of Dollars Consolidating Your Debts</p>
        </div>
      </a>
    </div>
  </div>
</div>
