<%= flash[:warning] %>
<% @lenders.each do |lender| %>

    <div>
      <%= link_to lender.name, lender_path(lender) %>

  <%#= lender.street_address %>
  <%#= lender.city %>
  <%#= lender.zipcode %>
  <%#= lender.phone %>
  <%#= lender.email %>
    </div>
<% end %>
